@inherits TodoListEditController

<div class="card collapse mb-3" @attributes="AdditionalAttributes">
    <div class="card-body">
        <EditForm Model="@InternalTodoList" OnValidSubmit="Save">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="checkListTitle">Title</label>
                <InputText type="text" class="form-control" id="checkListTitle" @bind-Value="@InternalTodoList.Title" />
            </div>
            <div class="form-group form-check">
                <InputCheckbox type="checkbox" class="form-check-input" id="checkListIsPublic" @bind-Value="@InternalTodoList.IsPrivate" />
                <label class="form-check-label" for="checkListIsPublic">Private list</label>
                <small id="passwordHelpBlock" class="form-text text-danger" hidden="@(!InternalTodoList.IsPrivate)">
                    Keep in mind to save the link to @(IsNewTodoList ? "the private list after it's created" : "this list"). Private lists aren't shown in the overview and can therefore only be accessed by their link.
                </small>
            </div>
            <button type="submit" class="btn btn-primary">@(IsNewTodoList ? "Create" : "Update")</button>
            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#@CollapseCardId" @onclick="ResetInternalTodoList">Cancel</button>
            <div class="form-text help-block">
                <ValidationSummary />
            </div>
        </EditForm>
    </div>
</div>